#code-panel-body {
    background: #F0FAFA;
    padding-top: 20px;

    resize: vertical;
    overflow: auto;
}

#editor {
    position: relative;
    height: 500px;

    border: 2px #000;
    border-radius: 4px;
    border-bottom-right-radius: 0px;
    margin-top: 5px;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}