<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- d3 and Jquery-1-10-1-Min -->
        <script src="./public/js/jquery-1-10-1-min.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="./public/css/bootstrap.min.css">
        <!-- Optional theme -->
        <!-- <link rel="stylesheet" href="./public/css/bootstrap-theme.min.css"> -->
        <!-- Latest compiled and minified JavaScript -->
        <script src="./public/js/bootstrap.min.js"></script>
        <!-- Normalize.css -->
        <link href="./public/css/normalize.min.css" rel="stylesheet" type="text/css">
        <!-- Using Bootstrap -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <script src="./public/js/jquery-resize.js"></script>
        <link href="./public/css/primer.css" rel="stylesheet" type="text/css">
        <link href="./public/css/main.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="container">
            <div class="panel panel-default code-panel">
                <div class="panel-heading">
                    <h3 class="panel-title">ns-3 Playground</h3>
                </div>
                <div class="panel-body" id="controls">
                    <div class="btn-group">
                        <button class="btn sample" type="button">Hello Simulator</button>
                        <button class="btn sample" type="button">Sample 1</button>
                        <button class="btn sample" type="button">Sample 2</button>
                        <button class="btn sample" type="button">Sample 3</button>
                        <button class="btn sample" type="button">Sample 4</button>
                        <button class="btn sample" type="button">Sample 5</button>
                        <button class="btn sample" type="button">Sample 6</button>
                        <button class="btn sample" type="button">Sample 7</button>
                    </div>
                    <input type="button" class="btn btn-primary btn-default right" value="Run" id="run">
                </div>
                <div class="panel-body" id="code-panel-body">
                    <p>Code Snippet Id: <span id="id">{{.Id}}</span></p>
                    <div id="editor">{{.Code}}</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" id="loadingDiv">Output
                        (<a href="/myfile" style="text-decoration: underline; color: #0000FF;">trace files</a>)
                    </h3>
                </div>
                <div class="panel-body">
                    <div id="output">
                    </div>
                </div>
			      </div>
        </div>
    </body>

    <script src="./public/js/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="./public/js/ext-language_tools.js" type="text/javascript" charset="utf-8"></script>
    <script>
     var editor;
     $(document).ready(function() {
         ace.require("ace/ext/language_tools");

         editor = ace.edit("editor");
         editor.setTheme("ace/theme/xcode");
         editor.setOptions({
             maxLines: Infinity,
             enableBasicAutocompletion: true
         });
         editor.getSession().setMode("ace/mode/c_cpp");
     });
    </script>
    <script src="./public/js/run.js" type="text/javascript" charset="utf-8"></script>
    </body>
</html>
